.btn {
    display: block;
    padding: 0.8rem 1.2rem;
    color: var(--#{$prefix}body-color-secondary);
    border: 1px solid var(--#{$prefix}border-color);
    border-radius: 0.8rem;
    background-color: var(--#{$prefix}gray-200);
    text-align: center;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: var(--#{$prefix}gray-300);
    }

    &:active {
        background-color: var(--#{$prefix}gray-400);
    }

    &:focus {
        outline: var(--#{$prefix}gray-400) solid 4px;
        border-color: var(--#{$prefix}gray-400);
    }

    &:hover,
    &:active {
        color: var(--#{$prefix}body-color-primary);
    }

    &-link {
        text-decoration: none;
    }

    &-justified {
        width: 100%;
    }
}
