.btn {
    display: block;
    padding: 0.8rem 1.2rem;
    color: var(--#{$prefix}body-color-secondary);
    border: 4px solid var(--#{$prefix}border-color-light);
    border-top: 2px solid var(--#{$prefix}border-color-light);
    border-radius: 0.8rem;
    background-color: var(--#{$prefix}gray-200);
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    transition: top 50ms ease-in-out;

    position: relative;
    top: 0;

    box-shadow:
        0 0.6rem var(--#{$prefix}border-color),
        0 1.4rem rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: var(--#{$prefix}gray-300);
        border-color: var(--#{$prefix}border-color-light-hover);
        box-shadow:
            0 0.6rem var(--#{$prefix}border-color-light),
            0 0.8rem rgba(0, 0, 0, 0.4);
    }

    &:active {
        top: 0.4rem;
    }

    &:focus-visible {
        outline: lightblue solid 4px;
        border-color: var(--#{$prefix}gray-400);
    }

    &:hover,
    &:active {
        color: var(--#{$prefix}body-color-primary);
    }

    &.active {
        top: 0.4rem;
        border-color: var(--#{$prefix}gray-700);
        box-shadow:
            0 0.6rem var(--#{$prefix}gray-600),
            0 0.2rem rgba(0, 0, 0, 0.4);
    }

    &-link {
        color: var(--#{$prefix}body-color-secondary);
        text-decoration: none;
    }

    &-justified {
        width: 100%;
    }
}
