.grid-main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4.8rem);

    --#{$prefix}menu-width: 24rem;

    .grid-menu {
        display: flex;
        flex-direction: column;
        min-width: var(--#{$prefix}menu-width);
        width: var(--#{$prefix}menu-width);
        background-color: var(--#{$prefix}gray-100);
        padding: 1.6rem;
        padding-bottom: 3.2rem;
        border-right: 1px solid var(--#{$prefix}border-color);
    }
}
