.grid-main {
    display: flex;
    flex-direction: row;
    height: 100%;

    --#{$prefix}menu-widht: 28rem;

    .grid-menu {
        width: var(--#{$prefix}menu-widht);
        background-color: var(--#{$prefix}gray-100);
        padding: 1.6rem;
        border-right: 1px solid var(--#{$prefix}border-color);
    }
}
