@each $key, $value in $font-size {
    .fs-#{$key} {
        font-size: $value !important;
    }
}

@each $key, $value in $font-weight {
    .fw-#{$key} {
        font-weight: $value !important;
    }
}

@each $key, $value in $line-height {
    .lh-#{$key} {
        line-height: $value !important;
    }
}

.tx-uppercase {
    text-transform: uppercase !important;
}

.tx-lowercase {
    text-transform: lowercase !important;
}

.tx-capitalize {
    text-transform: capitalize !important;
}

.tx-right {
    text-align: right !important;
}

.tx-center {
    text-align: center !important;
}

.tx-left {
    text-align: left !important;
}

.tx-justify {
    text-align: justify !important;
}
