.page-skeleton {
    position: absolute;
    height: 60vh;
    top: calc(0vh - 100vh);
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        var(--em-skeleton-wave-rgba-not-center) 0vh,
        var(--em-skeleton-wave-rgba-center) 30vh,
        var(--em-skeleton-wave-rgba-center) 40vh,
        var(--em-skeleton-wave-rgba-not-center) 70vh
    );
    animation-name: waveAnimation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes waveAnimation {
    to {
        top: calc(100vh + 70vh);
    }
}

.poke-img {
    width: 100%;
    aspect-ratio: 1;
}

.poke-ability {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--em-gray-100);
    border: 1.2rem solid var(--em-gray-200);

    &-text {
        color: transparent;
    }

    &-text.data {
        --left: 0;
        position: absolute;
        width: calc(100% - 2.4rem);
        top: 1.2rem;
        color: var(--em-body-color-secondary);
        background-color: var(--em-gray-100);
        transition: left 0.5s;
    }

    &.next &-text {
        &:nth-last-child(1) {
            left: 1.2rem;
        }
        &:nth-last-child(2) {
            left: 120%;
        }
        &:nth-last-child(3) {
            left: 120%;
        }
    }

    .prev &-text {
        &:nth-last-child(1) {
            left: -120%;
        }
        &:nth-last-child(2) {
            left: -120%;
        }
        &:nth-last-child(3) {
            left: 1.2rem;
        }
    }

    .active &-text {
        &:nth-last-child(1) {
            transition: 0s;
            left: -120%;
        }
        &:nth-last-child(2) {
            transition: 0s;
            left: 1.2rem;
        }
        &:nth-last-child(3) {
            transition: 0s;
            left: 120%;
        }
    }

    &-skeleton {
        height: 2.4rem + 2rem + calc(calc(1.5 * 1.6rem) * 3) + 2.4rem + 0.8rem;
    }

    &-frame {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: -0.8rem;
        border: 0.4rem solid var(--em-gray-300);
        border-radius: 0.8rem;
    }

    &-light {
        position: absolute;
        background-color: transparent;
        margin-top: -1.2rem;
        top: 0;
        --em-light-position: 3%;
        --em-border-color: var(--em-gray-800);
        --border-width: 1rem;

        @for $value from 1 through 5 {
            &:nth-child(#{$value}) {
                right: calc(
                    var(--em-light-position) +
                        (var(--border-width) + 0.4rem) *
                        2 *
                        #{$value}
                );
            }
        }

        &.active {
            --em-border-color: var(--em-green-300);
            filter: drop-shadow(0 0 0.8rem var(--em-green-300));

            &,
            & > :first-child,
            & > :last-child {
                transition:
                    border 0.5s,
                    filter 0.5s;
            }
        }

        & > :first-child {
            position: inherit;
            border: var(--border-width) solid transparent;
            border-top: 0;
            border-bottom: var(--border-width) solid var(--em-border-color);
        }

        & > :last-child {
            position: inherit;
            border: var(--border-width) solid transparent;
            border-bottom: 0;
            border-top: var(--border-width) solid var(--em-border-color);
            left: calc(var(--em-light-position) + var(--border-width) - 0.1rem);
        }
    }
}
