.page-skeleton {
    position: absolute;
    height: 60vh;
    top: calc(0vh - 100vh);
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        var(--em-skeleton-wave-rgba-not-center) 0vh,
        var(--em-skeleton-wave-rgba-center) 30vh,
        var(--em-skeleton-wave-rgba-center) 40vh,
        var(--em-skeleton-wave-rgba-not-center) 70vh
    );
    animation-name: waveAnimation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes waveAnimation {
    to {
        top: calc(100vh + 70vh);
    }
}

.poke-img {
    width: 100%;
    aspect-ratio: 1;
}

.poke-ability {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    background-color: var(--em-gray-100);
    border: 1.2rem solid var(--em-gray-200);

    &-skeleton {
        height: 2.4rem + 2rem + calc(calc(1.5 * 1.6rem) * 3) + 2.4rem + 0.8rem;
    }

    &-frame {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: -0.8rem;
        border: 0.4rem solid var(--em-gray-300);
        border-radius: 0.8rem;
    }

    &-light {
        position: absolute;

        background-color: transparent;

        &.top {
            margin-top: -0.8rem;
            top: 0;
            --em-light-position: 13%;
            --em-border-color: var(--em-gray-800);

            &.first {
                right: var(--em-light-position);
            }

            &.second {
                right: calc(var(--em-light-position) + 2.4rem);
            }

            &.third {
                right: calc(var(--em-light-position) + 4.8rem);
            }
        }
        &.bottom {
            bottom: 0;
            --em-border-color: var(--em-gray-600);
            --em-light-position: 32%;

            &.first {
                right: var(--em-light-position);
            }

            &.second {
                right: calc(var(--em-light-position) + 2.4rem);
            }
        }

        & > :first-child {
            position: inherit;
            border: 0.8rem solid transparent;
            border-top: 0;
            border-bottom: 0.8rem solid var(--em-border-color);
        }

        & > :last-child {
            position: inherit;
            border: 0.8rem solid transparent;
            border-bottom: 0;
            border-top: 0.8rem solid var(--em-border-color);
            left: calc(var(--em-light-position) + 0.7rem);
        }
    }
}
