%label {
    color: var(--#{$prefix}body-color-primary);
    font-weight: 500;
    cursor: pointer;
}

.form-check-label {
    @extend %label;
    font-size: 1.4rem;
}

.form-label {
    @extend %label;
    font-size: 1.6rem;
}
